.about {
  padding: 8rem 4rem 2rem;
  border-bottom: 1px solid var(--divider-color);
}

.experience {
  padding: 2rem 3rem;
  border-bottom: 1px solid var(--divider-color);
}

.projects {
  padding: 2rem 3rem;
}

@media screen and (max-width: 600px) {
  .about {
    padding: 2rem;
  }

  .experience {
    padding: 2rem;
  }

  .projects {
    padding: 2rem;
  }
}
